 module.exports = {
   "transifex": {
       "login":"demo",
       "password":"demo",
       "projectSlug":"test",
       "resourceSlug":"test"
   },
   "github": {
           "username": "username",
           "password": "password",
           "repo":"repo"
   }
 };